<div class="headerBox">
    <div id="header">
        <h1 class="pd-logo"><img src="/pudu/images/pd-logo.png"></h1>
        <ul class="header-nav">
            <li><a href="<%linkurl("index")%>"><span><em>首页</em></span></a></li>
            <li>
                <a href="<%linkurl("case")%>"><span><em>案例</em></span></a>
                <ul class="sub-nav">
                    <li><a href="javascript:;"><em>淘宝</em></a></li>
                    <li><a href="javascript:;"><em>阿里</em></a></li>
                    <li><a href="javascript:;"><em>摄影</em></a></li>
                    <li><a href="javascript:;"><em>影视</em></a></li>
                </ul>
            </li>
            <li><a href="<%linkurl("service")%>"><span><em>服务</em></span></a></li>
            <li><a href="<%linkurl("about")%>"><span><em>我们</em></span></a></li>
            <li><a href="<%linkurl("news")%>"><span><em>资讯</em></span></a></li>
            <li><a href="<%linkurl("share")%>"><span><em>分享</em></span></a></li>
            <li><a href="<%linkurl("contact")%>"><span><em>联系</em></span></a></li>
        </ul>
    </div>
</div>
<div class="headerPlaceHoder"></div>