<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>首页</title>
    <%template src="_style.html"%>
</head>
<body>
    <%template src="_header.html"%>
    <div class="index-slider">
        <div class="hd">
            <ul class="index-slider-nav">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <div class="bd">
            <ul>
                <%set DataTable focusList=get_article_list("index", 0, 5, "status=0 and is_slide=1 and img_url<>''")%>
                <%foreach(DataRow dr in focusList.Rows)%>
                <li>
                    <a title="{dr[title]}" href="<%linkurl("index_show",{dr[id]})%>
                        ">
                        <img src="{dr[img_url]}" />
                    </a>
                </li>
                <%/foreach%>
            </ul>
        </div>
    </div>
    <div class="index-box">
        <div class="index-desc"></div>
        <!--High-end/淘宝视觉作品-->
        <div class="index-title">
            <h3>High-end/淘宝视觉作品</h3>
        </div>
        <img src="/images/dashed.png" alt="">
        <ul class="index-common-list has-shodow">
            <li class="type-w504h196">
                <a href="javascript:;">
                    <img src="/Dimages/demo5.png">
                    <div class="product-shodow">
                        <h3>传统手工角梳：角缘造物</h3>
                        <span>淘宝视觉作品</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="/Dimages/demo6.png">
                    <div class="product-shodow">
                        <h3>传统手工角梳：角缘造物</h3>
                        <span>淘宝视觉作品</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="/Dimages/demo6.png">
                    <div class="product-shodow">
                        <h3>传统手工角梳：角缘造物</h3>
                        <span>淘宝视觉作品</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="/Dimages/demo6.png">
                    <div class="product-shodow">
                        <h3>传统手工角梳：角缘造物</h3>
                        <span>淘宝视觉作品</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="/Dimages/demo6.png">
                    <div class="product-shodow">
                        <h3>传统手工角梳：角缘造物</h3>
                        <span>淘宝视觉作品</span>
                    </div>
                </a>
            </li>
            <li class="type-w504h196">
                <a href="javascript:;">
                    <img src="/Dimages/demo5.png">
                    <div class="product-shodow">
                        <h3>传统手工角梳：角缘造物</h3>
                        <span>淘宝视觉作品</span>
                    </div>
                </a>
            </li>
        </ul>
        <!--photography/商业摄影作品-->
        <div class="index-title">
            <h3>photography/商业摄影作品</h3>
        </div>
        <ul class="index-common-list has-shodow">
            <li class="type-w504h196">
                <a href="javascript:;">
                    <img src="/Dimages/demo5.png">
                    <div class="product-shodow">
                        <h3>传统手工角梳：角缘造物</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="/Dimages/demo6.png">
                    <div class="product-shodow">
                        <h3>传统手工角梳：角缘造物</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="/Dimages/demo6.png">
                    <div class="product-shodow">
                        <h3>传统手工角梳：角缘造物</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="/Dimages/demo6.png">
                    <div class="product-shodow">
                        <h3>传统手工角梳：角缘造物</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="/Dimages/demo6.png">
                    <div class="product-shodow">
                        <h3>传统手工角梳：角缘造物</h3>
                    </div>
                </a>
            </li>
            <li class="type-w504h196">
                <a href="javascript:;">
                    <img src="/Dimages/demo5.png">
                    <div class="product-shodow">
                        <h3>传统手工角梳：角缘造物</h3>
                    </div>
                </a>
            </li>
        </ul>
        <!--VIDEO/影视作品-->
        <div class="index-title">
            <h3>VIDEO/影视作品</h3>
        </div>
        <ul class="index-common-list has-shodow">
            <li class="type-w504h196">
                <a href="javascript:;">
                    <img src="/Dimages/demo5.png">
                    <div class="product-shodow">
                        <h3>传统手工角梳：角缘造物</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="/Dimages/demo6.png">
                    <div class="product-shodow">
                        <h3>传统手工角梳：角缘造物</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="/Dimages/demo6.png">
                    <div class="product-shodow">
                        <h3>传统手工角梳：角缘造物</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="/Dimages/demo6.png">
                    <div class="product-shodow">
                        <h3>传统手工角梳：角缘造物</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="/Dimages/demo6.png">
                    <div class="product-shodow">
                        <h3>传统手工角梳：角缘造物</h3>
                    </div>
                </a>
            </li>
            <li class="type-w504h196">
                <a href="javascript:;">
                    <img src="/Dimages/demo5.png">
                    <div class="product-shodow">
                        <h3>传统手工角梳：角缘造物</h3>
                    </div>
                </a>
            </li>
        </ul>
        <!--NEWS/资讯-->
        <div class="index-title">
            <h3>NEWS/资讯</h3>
            <a href="javascript:;" class="show-more">+</a>
        </div>
        <ul class="index-news">
            <li>
                <div class="news-img lazyimg" style="background-image: url(/Dimages/demo3.png)"></div>
                <div class="news-desc">
                    <h4 class="news-title"><a href="javascript:;">普度新增微电影微视频业务</a></h4>
                    <div class="news-time-box">
                        <p class="news-time">2016-09-20</p>
                    </div>
                    <p>源自集团造星工厂的影视制作团队正式纳入普度公司，资深团队专业精干作品出色，现已在普度正式开展业务。尽心创意，精心摄像，走心包装。全力为客户提升企业形象。欢迎致电洽谈合作。</p>
                </div>
            </li>
            <li>
                <div class="news-img lazyimg" style="background-image: url(/Dimages/demo3.png)"></div>
                <div class="news-desc">
                    <h4 class="news-title"><a href="javascript:;">普度新增微电影微视频业务</a></h4>
                    <div class="news-time-box">
                        <p class="news-time">2016-09-20</p>
                    </div>
                    <p>源自集团造星工厂的影视制作团队正式纳入普度公司，资深团队专业精干作品出色，现已在普度正式开展业务。尽心创意，精心摄像，走心包装。全力为客户提升企业形象。欢迎致电洽谈合作。</p>
                </div>
            </li>
        </ul>
    </div>
    <%template src="_footer.html"%>
    <%template src="_script.html"%>   
</body>
</html>