<!--尾部-->
<div id="footer">
    <div class="footer-main">
        <div class="footer-box">
            <h2 class="footer-about">关于普度/ABOUT US</h2>
            <h3 class="footer-company">普度（福建）电子商务有限公司</h3>
            <p class="footer-desc">本公司正式成立于2013年，注册资金500万，是以互联网科技为核心的企业电子商务综合服务提供商，主营电子商务网店装修设计、商业摄影、品牌策划、微电影和微视频制作、精英频道服务等，目前是福建最具实力的综合性电子商务服务机构。</p>
            <div class="footer-contact">
                <h2>福建全省联系方式/CONTACT</h2>
                <ul class="contact-list">
                    <li>
                        <h2>普度-福州</h2>
                        <p>电话：<span class="tel">0591-86252226</span></p>
                        <p class="address">地址：福州市鼓楼区西洪路528号云座3号楼6层</p>
                    </li>
                    <li>
                        <h2>普度-泉州</h2>
                        <p>电话：<span class="tel">0595-36013888</span></p>
                        <p><span class="tel" style="padding-left: 37px;">0595-36013188</span></p>
                        <p class="address">地址：福建省泉州市丰泽区大洋百货十楼</p>
                    </li>
                    <li>
                        <h2>普度-厦门</h2>
                        <p>电话：<span class="tel">0592-3660503</span></p>
                        <p class="address">地址：厦门市思明区厦禾路1128号富兴大厦B栋15楼</p>
                    </li>
                    <li>
                        <h2>普度-宁德</h2>
                        <p>电话：<span class="tel">0593-2082098</span></p>
                        <p class="address">地址：宁德市蕉城区蕉城南路94号泓源国际12层众事达（海关对面）</p>
                    </li>
                    <li>
                        <h2>普度-莆田</h2>
                        <p><span class="tel">电话：0591-86252226</span></p>
                        <p class="address">地址：莆田市荔城区·新汽车站·莆运股份大楼6层</p>
                    </li>
                    <li class="no-data">虚位以待</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        普度（福建）电子商务有限公司&nbsp;&nbsp;ALL&nbsp;&nbsp;RIGHTS&nbsp;&nbsp;RESERVED
    </div>
</div>