<div class="headerBox">
    <div id="header">
        <h1 class="pd-logo"><img src="/images/pd-logo.png"></h1>
        <ul class="header-nav">
            <%set DataTable indexCList=get_category_child_list("index",0)%>

            <li><a href="<%linkurl(" Default")%>"><span><em>首页</em></span></a></li>
            <li>
                <a href="<%linkurl(" High-end")%>"><span><em>案例</em></span></a>
                <ul class="sub-nav">
                    <li><a href="pd-content.html"><em>淘宝</em></a></li>
                    <li><a href="pd-content.html"><em>阿里</em></a></li>
                    <li><a href="pd-content.html"><em>摄影</em></a></li>
                    <li><a href="pd-content.html"><em>影视</em></a></li>
                    <li><a href="pd-content.html"><em>影视</em></a></li>
                </ul>
            </li>
            <li><a href="<%linkurl(" service")%>"><span><em>服务</em></span></a></li>
            <li><a href="<%linkurl(" aboutUs")%>"><span><em>我们</em></span></a></li>
            <li><a href="<%linkurl(" News")%>"><span><em>资讯</em></span></a></li>
            <li><a href="<%linkurl(" Show")%>"><span><em>分享</em></span></a></li>
            <li><a href="<%linkurl(" contact")%>"><span><em>联系</em></span></a></li>
        </ul>
    </div>
</div>
<div class="headerPlaceHoder"></div>